body {
	background-color: #262B33;
}

.err-container {
	margin: auto;
}

.button404 a {
	text-transform: uppercase;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 2px;
	overflow: hidden;
	color: #3D4051;
    background-color: #fafafa;
    border-color: #fafafa;
}

.button404 {
	margin-top: 20px;
}

h2 {
	color: rgba(255, 255, 255, 0.6);
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 36px;
}

h1 {
	font-size: 180px;
	margin-bottom: 35px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

