#nav-mobile>li>a {
	color: black !important;
}

.profilphoto {
	width: 40px;
	border-radius: 50%;
}

.modal_tabs a {
	color: #b3b3b3;
}

.modal_tabs a {
	color: #b3b3b3;
}

ul.modal_tabs>.click a {
	color: black;
}

.panel-top, .panel-info , .panel-bottom {
	    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 135px;
    padding: 30px 15px;
    font-size: 40px;
    line-height: 73px;
}

.size-h4 {
	 font-size: 20px;
	
}

.ng-scope{
	height: 24px;
    display: inline-block;
    padding: 4px 10px;
    text-transform: uppercase;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    font-size: 11px;
    color: #777;
    border-radius: 1em;
}

.panel-box {
    text-align: center;
    padding: 0px !important;
    position: relative;
}

.panel-top {
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
}

.panel-info {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -12px;
    padding: 0px;
    text-align: center;
    border-color: #c5f1fa;
}

.panel-bottom {
	display: block;
    border-top: 1px solid #dfdfdf;
    background-color: #f9f9f9;
}

.profilname {
	margin-left: 10px;
}

body {
	background-color: #f3f3f3;
}

.side-nav {
	margin-top: 64px !important;
}

.side-nav {
	background-color: #262B33 !important;
	max-width: 220px;
}

.menu-item a {
	display: flex !important;
	padding: 0 15px !important;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8) !important;
}

.menu-item i {
	margin-right: 10px;
}

.header-logo {
	height: 48px;
	margin-top: 8px;
	margin-left: 12px;
}

@media only screen and (max-width : 992px) {
	main, footer {
		padding-left: 0;
	}
}

.nav-header {
	margin-left: 10px;
	color: #666;
	font-weight: normal;
	font-size: 12px;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.42857;
	color: #666;
	line-height: 40px !important;
}

@media only screen and (min-width : 993px) {
	.main-container {
		margin-left: 220px;
		padding: 20px
	}
}

.main-container {
	padding: 20px
}

.panel {
	padding: 30px 15px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 2px;
	border-color: #e2edeb;
}

.btn-floating {
	margin-right: 5px;
}

.button-table {
	bottom: 0;
	top: 0;
	position: relative;
}

.button-li {
	margin: 0 !important;
	bottom: 0;
	top: 0;
	position: relative;
}

.div-delete {
	max-width: 250px;
	max-height: 175px;
}

.pagination li.active {
	background-color: #262B33;
	color: white;
}

.pagination {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-fixed {
	z-index: 999;
}

.pagination li.active a {
	color: white !important;
}

@media only screen and (min-width : 992px) {
	.fixed-action-btn {
		bottom: 24px !important;
		left: 244px;
	}
}

.modal-show {
	line-height: 46px;
}

input:not ([type] )+label:after, input[type=text]+label:after, input[type=password]+label:after,
	input[type=email]+label:after, input[type=url]+label:after, input[type=time]+label:after,
	input[type=date]+label:after, input[type=datetime]+label:after, input[type=datetime-local]+label:after,
	input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after,
	textarea.materialize-textarea+label:after {
	top: 40px !important;
}

.button-collapse {
	width: 64px;
	margin-left: 15px;
}

.dropdown-content {
	position: initial !important;
	background-color: rgba(0, 0, 0, 0.35) !important;
}

ul.dropdown-content {
	background-color: rgba(0, 0, 0, 0.0) !important;
}

ul.tabs {
	background: none !important;
}

li.boeking {
	padding-bottom: 1px;
}

.agenda>.days>.today>p {
	background-color: gray;
	color: white;
}

.agenda>.days>.today>p {
	width: 25px;
	text-align: center;
	border-radius: 50%;
	height: 25px;
}

div.day {
	float: left;
	width: 12%;
	position: relative;
	margin: 2px;
	padding-left: 10px;
	background: white;
	border-radius: 2px;
	padding-bottom: 7%;
	line-height: 25px;
}

div.agenda {
	margin-top: 10px;
}

div.selected {
	background-color: gray;
}

div.month {
	
}

div.data-boot, div.data-klant, div.data-boeking {
	margin-top: 15px;
}

ul.modal_tabs {
	background: none !important;
}

.modal_tabs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: 48px;
	background-color: #fff;
	margin: 0 auto;
	width: 100%;
	white-space: nowrap;
}

.modal_tabs>.active {
	border-bottom: 1px solid red;
}

.disabled.next, .disabled.previous {
	color: #b3b3b3 !important;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.active.next, .active.previous {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.modal_tabs>.tab {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: block;
	float: left;
	text-align: center;
	line-height: 48px;
	height: 48px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	letter-spacing: .8px;
	width: 15%;
	min-width: 80px;
}

.agenda>.days>.enabled:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

div.disabled {
	background-color: rgba(0, 0, 0, 0.15);
}

ul.boeking {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

a.sub-menu {
	font-size: inherit !important;
}

.progress {
	margin: 0;
	position: absolute;
	visibility: hidden;
	z-index: 99999;
	position: fixed;
}

.bordered>tbody>tr:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

tr.hide {
	display: none;
}