body {
	background-color: #EDF0F1;
}

.login-wrapper {
	height: 100%;
}

.login {
	margin: auto;
	padding: 20px;
	heigth:auto;
}

.main-body {
	width: 500px;
	margin: auto;
	padding: 20px;
	
}

.forgetpassword {
	height: 50px;
    background-color: gray;
    border-radius: 2px;
    padding: 15px;
    color: white;
}

.a-forgot {
	color:white;
}
.a-forgot:hover{
	color:gray:
}

.images-login {
	width: 150px;
}

/* label color */
.input-field label {
	color: gray;
}
/* label focus color */
.input-field input[type=text]:focus+label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=password]:focus+label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #000;
}